@import '../../style/constants';

.MissionMap{
    .map{
        width:100%;
        background-image: url("/images/mars-map.jpg");
        background-repeat:no-repeat;
        background-size:100%;
        border: 2px solid $color-foreground;
        border-radius: 2px;
    }

    .circle {
        stroke:white;
        &:hover{
            cursor: pointer;
        }
    }

    .circle-clicked{        
        transition: all 0.5s;
        stroke: $color-primary;
        stroke-width: 4;
    }
}