@import '../../style/constants';

.MissionScrollBar{
    .scrollbar{
        position: relative;
        display: flex;
        min-width: 100%;
        overflow-x: auto;
        padding: ($standard-margin * 2) 0;
        .scroll-image {
            display: none;
        }
        @media (min-width: 768px) {
            overflow-x: auto;
            justify-content: left;
            .scroll-image {
                display: block;
                height: 200px;
                width: 200px;
            }
        }
    }

    .card--content {
        min-width: auto;
        margin: 0px $standard-margin $standard-margin $standard-margin;
        height:40px;
        text-align: center;
        line-height: 40px;
        padding: 0 ($standard-margin * 2);
        border-radius: $standard-margin;
        &:hover{
            cursor: pointer;
        }
    }
    
    .card--content-selected{
        margin: 0px;
        color: black;
        background-color: white;
    }

    .card {
        @media (min-width: 768px) {
            border: 2px solid white;
            border-radius: $standard-margin;
            margin: $standard-margin;
            overflow: hidden;
            height: 240px;
            min-width: 200px;
            overflow-y: hidden;
        }
    }
    .arrowIcon-left{
        position: absolute;
        color:$color-foreground;
        font-size: 100px;
        top:-30px;
        left:0px;
        opacity: 50%;
    }
    .arrowIcon-right{
        position: absolute;
        color:$color-foreground;
        font-size: 100px;
        top:-30px;
        right:0px;
        opacity: 50%;
    }
}