@import '../../style/constants';

.MissionMap{
    .map{
        width:100%;
        background-image: url("/images/mars-map.jpg");
        background-repeat:no-repeat;
        background-size:100%;
    }

    .circle {
        fill:red;
        &:hover{
            cursor: pointer;
        }
    }

    .circle-clicked{
        transition: all 0.5s;
        fill:$color-primary;
    }
}