@import '../../style/constants';

.MissionScrollBar {
  display: flex;
  width: 100%;

  .scrollbar {
    position: relative;
    display: flex;
    overflow: hidden;
    padding: ($standard-margin * 2) 0;

    .scroll-image {
      display: none;
    }

    @media (min-width: 768px) {
      overflow: hidden;
      justify-content: left;
      .scroll-image {
        display: block;
        height: 200px;
        width: 200px;
      }
    }
  }

  .card--content {
    min-width: auto;
    margin: 0px $standard-margin $standard-margin $standard-margin;
    height: 40px;
    text-align: center;
    line-height: 40px;
    padding: 0 ($standard-margin * 2);
  }

  .card--content-selected {
    margin: 0px;
    color: $color-foreground;
    font-weight: bold;
    background-color: $color-primary;    
  }

  .card {
    @media (min-width: 768px) {

      border: 2px solid $color-foreground;
      border-radius: 5px;
      margin: $standard-margin;
      overflow: hidden;
      height: 240px;
      min-width: 200px;
      &:hover{
        cursor: pointer;
      }
    }
  }
    .arrow-icon {
      width: 5vw;
      height: 7vw;
      margin:auto;
      &:hover{
        cursor:pointer;
      }
    }
    .arrow-icon-right {
      float:right;
      background-color: $color-foreground;      
      opacity: 60%;
      width: 8vw;
      height: 10vw;
      margin: 1vw;
    }
}