@import '../../style/constants.scss';



.MissionDescription {
  margin-top: $standard-margin;
  color: $color-foreground;
  .mission-image{
    width: 100%;
  }

  .launch {
   color: $color-secondary;
    font-weight: bold;
  }

  .info {
    padding: $standard-margin;
    display: flex;
    flex-direction: column;
  }

  .moreInfo {
    background-color: $button-primary;
    text-align: center;
    padding: $standard-margin;
    color: $color-foreground;
    font-weight: bold;
    flex: 1;
    border-radius: $standard-margin;
  }
}