@import '../../style/constants.scss';



.MissionDescription {
  margin-top: $standard-margin;
  color: $color-foreground;
  .mission-image{
    width: 100%;
  }

  .launch {
   color: $color-secondary;
    font-weight: bold;
  }

  .info {
    padding: $standard-margin;
    display: flex;
    flex-direction: column;
  }

  .moreInfo {
    background-color: $button-primary;
    text-align: center;
    padding: $standard-margin;
    color: $color-foreground;
    font-weight: bold;
    flex: 1;
    border-radius: $standard-margin;
  }
}

@mixin popUpStyles {
  @media screen and (max-width: 560px) {
    display: none;      
  }

  background-color: $color-background;
  color: $color-background;

  border: 8px solid $color-primary;
  border-radius: 2px;

  display: inline;
  width: 400px;
  position: absolute;
  top: 200px;
}

@media (min-width: 1200px) {
.left {
  @include popUpStyles();
  left: 5%;
}

.right {
  @include popUpStyles();
  right: 5%;
}
}