$color-background: #212121;
$color-foreground: #ffffff;
$color-primary: #105bd8;
$color-red: red;


$phone-breakpoint: 576px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 992px;
$large-desktop-breakpoint: 1200px; 


