$color-background: #212121;
$color-foreground: #ffffff;
$color-primary: #105bd8;



// $h1-color: #105bd8;

// $h2-color: #0b3d91;

// $h3-color: #061f4a;



// $button1-color: #02bfe7;

// $button1-color-hover: #046b99;

// $button2-color: #dd361c;

// $button2-color-hover: #c62d1f;