$color-background: #212121;
$color-foreground: #ffffff;
$color-primary: #105bd8;
$color-red: red;


$phone-breakpoint: 576px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 992px;
$large-desktop-breakpoint: 1200px; 


$wh-image-phone: 100px;
$wh-image-tablet: 110px;
$wh-image-desktop: 160px;

@mixin imageDimensions {
    border: 3px solid white;
    border-radius: 50%;
    width: 80px;
    height:80px;

    @media screen and (min-width: $phone-breakpoint) {
        width: $wh-image-phone;
        height: $wh-image-phone;
    }

    @media screen and (min-width: $tablet-breakpoint) {
        width: $wh-image-tablet;
        height: $wh-image-tablet;
    }

    @media screen and (min-width: $desktop-breakpoint) {
        width: $wh-image-desktop;
        height: $wh-image-desktop;
    }
    
}

@mixin imageOpacity {
    min-width: 30%;
    opacity: 0.3;
}
