@import '../style/constants.scss';

.chooseRover{ 

    min-width: 300px;
    max-width: 800px;
    margin: auto;
    flex-grow: 1;

    @media screen and (min-width: $desktop-breakpoint) {
        flex-grow: 0;
    }

    text-align: center;

    // @media screen and (min-width: $phone-breakpoint) {
    //     min-width: 500px;
    // }

    // @media screen and (min-width: $tablet-breakpoint) {
    //     min-width: 600px;
    // }

    // @media screen and (min-width: $large-desktop-breakpoint) {
    //     min-width: 500px;
    // }


    .roverImage {
        border-radius: 50%;
        width: 80px;
        height:80px;

        @media screen and (min-width: $phone-breakpoint) {
            width: 100px;
            height: 100px;
        }

        @media screen and (min-width: $tablet-breakpoint) {
            width: 110px;
            height: 110px;
        }

        @media screen and (min-width: $desktop-breakpoint) {
            width: 160px;
            height: 160px;
        }

    }

    .roverOptions {
        min-width: 30%;
        opacity: 0.5;

    }

    .selected {
        opacity: 1;
    }

    .allRovers {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

        @media screen and (min-width: $phone-breakpoint) {
            justify-content: center;
        }

        @media screen and (min-width: $large-desktop-breakpoint) {
            flex-direction: column;
            align-items: center;
        }
    }
   
}
