@import '../style/constants.scss';

.chooseCamera{ 

    min-width: 300px;
    max-width: 800px;
    margin: auto;

    text-align: center;

    .cameraImage {
        border-radius: 50%;
        width: 80px;
        height:80px;

        @media screen and (min-width: $phone-breakpoint) {
            width: $wh-image-phone;
            height: $wh-image-phone;
        }

        @media screen and (min-width: $tablet-breakpoint) {
            width: $wh-image-tablet;
            height: $wh-image-tablet;
        }

        @media screen and (min-width: $desktop-breakpoint) {
            width: $wh-image-desktop;
            height: $wh-image-desktop;
        }

    }

    .cameraOptions {
        min-width: 30%;
        opacity: 0.5;

    }

    .selected {
        opacity: 1;
    }

    .allCameras {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

        @media screen and (min-width: $phone-breakpoint) {
            justify-content: center;
        }

        @media screen and (min-width: $desktop-breakpoint) {
            align-items: center;
        }
    }
   
}
