@import '../style/constants.scss';

.chooseCamera{ 

    min-width: 300px;
    max-width: 800px;
    margin: auto;

    text-align: center;

    .cameraImage {
        @include imageDimensions;
    }

    .cameraOptions {
        @include imageOpacity;

    }

    .selected {
        .cameraImage {
            border-color: $color-primary;
        }
    }

    .allCameras {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

        @media screen and (min-width: $phone-breakpoint) {
            justify-content: center;
        }

        @media screen and (min-width: $desktop-breakpoint) {
            align-items: center;
        }
    }
   
}
