@import '../../style/constants.scss';
@import './Weather-constants.scss';

$summary-width: 60px;
$summary-margin: 2px;

$summary-total-width: ($summary-width * 7);

.SingleDayDetail {
    @include flex-row;
    @include box-styling;

    align-items: center;
    height: $detail-height * 3;
              
    @include svg-icon;    

    .weekdayBlock {  
        @include detail-styles;    
        margin-left: 10px;                
    }

    .tempBlock {
        @include detail-styles;       
        text-align: center;
    }  
    .windBlock {
        @include detail-styles;       
        text-align: center;
    } 
    
    .textBlock {
        @include detail-styles;      
        text-align: center;
        margin-right: 10px;
    } 
}
