@import '../../style/constants.scss';

$summary-width: 60px;
$summary-margin: 2px;
$summary-border: 1px;
$summary-total-width: ($summary-width * 7);



.SingleDaySummary {

    margin-top: 8px;

    background-color: rgba(230, 230, 230, 0.1);   
    background: linear-gradient(90deg, rgba(230,230,230,0.1) 0%, rgba(255,255,255,0.15) 100%, rgba(220,220,220,0.1) 100%);
            
    border-style: solid;
    border-width: $summary-border;
    border-color:  rgba(230, 230, 230, 0.5);
    width: $summary-width;
    height: 240px;        
    display: flex;
    flex-direction: column;
    align-content: start;

    color: rgba(255,255,255,0.7);

    svg {
        width: $summary-width / 2;
        height: $summary-width / 2;
        fill: $color-foreground;
    }

    .selectionTab {
        margin-top: -2px;
        width: $summary-width;
        height: 4px;        
    }

    .weekday {   
        height: 160px;
        width: 100%;
        margin-top: 20px;
        text-transform: uppercase; 
        font-weight: bold;   
        font-size: 18px;
        letter-spacing: -2px;
        
        text-orientation: upright;
        writing-mode: vertical-lr;         
    }

    .icon {           
        height: 40px;
        width: 100%;
        margin-left: 15px;           
    }

    .AverageTemp {
        
        height: 40px;
        width: 50%;
        
        margin-left: 15px;

        font-weight: bold;   
        font-size: 18px;
        color: $color-foreground;
    }   
}

.SingleDaySummary:hover {
    background-color: rgba(230, 230, 230, 0.2);  
    background: linear-gradient(90deg, rgba(230,230,230,0.2) 0%, rgba(255,255,255,0.3) 100%, rgba(220,220,220,0.2) 100%);
    color: rgba(255,255,255,1); 
    .selectionTab {        
        background-color: $color-red;
    }
}


.SingleDayDetail {

    justify-content: center;
    align-items: center;

    display: flex;
    flex-direction: row;
    

    background-color: rgba(230, 230, 230, 0.1);   
    background: linear-gradient(90deg, rgba(230,230,230,0.1) 0%, rgba(255,255,255,0.15) 100%, rgba(220,220,220,0.1) 100%);
    border-style: solid;
    border-width: 1px;
    border-color:  rgba(230, 230, 230, 0.5);
    
    height: 160px;  

    color: rgba(255,255,255,0.7);

    svg {
        width: 30px;
        height: 30px;
        fill: white;
    }   

    .weekdayBlock {  

        margin: 8px;
        padding: 4px;
        
        min-width: 120px;       
      
    }

    .tempBlock {
        margin: 8px;
        padding: 4px;
        text-align: center;

        min-width: 80px;

        svg {
            height: 30px;
            width: 30px;
        }
    }

    .windBlock {
        margin: 8px;
        padding: 4px;
        text-align: center;

        min-width: 80px;

        svg {
            height: 30px;
            width: 30px;
        }

    }

    .textBlock {
        margin: 8px;
        padding: 4px;    
    }






}

