@import '../../style/constants.scss';
@import './Weather-constants.scss';


.weather-page{

    display:block;

    @media (min-width: 1250px){
        display: inline-block;
    }

    .title {
        color: $color-foreground;  
    }

    .seven-day-display {
        width: $seven-day-width;    
    }

    .carousel {
        @include flex-row;
        justify-content: space-between;
    }
}

.weatherGraph{
    width: 90%;
    min-width:$seven-day-width;
    max-width:700px;
    margin-top:20px;
    @media (min-width: 1250px){
        margin-top:60px;
        position:absolute;
    }
}