@import '../../style/constants.scss';

$seven-day-width:480px;
$summary-width: 60px;
$seven-day-small-width:350px;
$summary--small-width: 40px;
$detail-height: 60px;
$font-size: 16px;
$weather-responsive:550px;

@mixin flex-row {
    display: flex;
    flex-direction: row;
}
@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin box-gradient{
    background: $color-background;
    opacity: 1;
}
@mixin box-gradient-hover{
    border-color: $color-primary;
}

@mixin box-styling{ 
    @include box-gradient;
    color: rgba($color-foreground,0.7);   
}

@mixin svg-icon {
    svg{
        width: $summary-width / 2;
        height: $summary-width / 2;
        fill: $color-foreground;
    }
}

@mixin font-styles {

    text-transform: uppercase; 
    font-weight: 300;   
    font-size: $font-size; 
}

@mixin summary-styles {
    height: $detail-height;
    padding-top: $detail-height / 4;    
    padding-bottom: $detail-height / 4;  
}
@mixin detail-styles {
    min-width: 100px;          
    padding: 6px;
}