@import './style/constants.scss';

$titleHeight: 100px;
$borderWidth: 5px;

@mixin homePageFont {
    font-size: 2rem;
    @media screen and (min-width: $phone-breakpoint) {
        font-size: 4rem;
        
    }
}

@mixin homePageSection($url) {
    @include homePageFont();
    border-top: $borderWidth solid white;
    flex-grow: 1;
    background-size: cover;
    background-image: url($url);
    
    &:hover {
        color: $color-primary;
        border-color: $color-primary;
        transition-duration: 2s;
        flex-grow: 3;
    }
}

@keyframes shrinkHeight {
    from {
      height: 100vh;
    }
  
    to {
      height: $titleHeight;
    }
  }

.homePage {
    .sections {
        display: flex;
        flex-direction: column;
        height: calc(100vh - #{$titleHeight} - #{$borderWidth});
    }

    .missions {
        @include homePageSection("https://images.unsplash.com/photo-1513628253939-010e64ac66cd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");
    }

    .weather {
        @include homePageSection("https://images.unsplash.com/photo-1534254910684-68bdc1d69cf7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");
    }

    .photos {
        @include homePageSection("https://images.unsplash.com/photo-1505312926838-645f295a20e1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");
    }

    .home {
        width: 100%;
        height: 100vh;
        animation: shrinkHeight 2s;
        animation-delay: 2s;
        animation-fill-mode: forwards;  
        @include homePageFont();
    }

    .link {
        text-decoration: inherit;
        &:visited {
            color: $color-foreground;
            &:hover {
                color: $color-primary;
            }
        }
    }


}