@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans&display=swap');
@import 'style/constants.scss';

body {
  font-family: 'Montserrat', sans-serif;
  color: $color-foreground;
  background-color: $color-background;
}

h1 {
  color: $color-primary;
  font-family: 'Open Sans', sans-serif;
}

h2 {
  font-size: 25px;

  @media screen and (min-width: $tablet-breakpoint) {
      font-size: 35px;
  }
}

h3 { 
  font-size: 15px;

  @media screen and (min-width: $tablet-breakpoint) {
      font-size: 20px;
  }
}
