.map{
    width:100%;
    background-image: url("/images/mars-map.jpg");
    background-repeat:no-repeat;
    background-size:100%;
}

.circle {
    fill: red;
}

.circle-clicked{
    width: 120%;
    height:120%;
    fill:cyan;
}